/*
========================
Partials-Page
========================
*/

body {
	padding-bottom: 80px;
}

.page-title {
	text-align: center;
	text-transform: uppercase;
}





/*
========================
Matchups
========================
*/

// the individual matchup
.matchup {
	text-align: center;
	padding: 2em 0;
	border-bottom: 2px solid lighten(#000, 98%);
}

// the date
.matchup-details {}

// the matchup teams container
.matchup-teams {
	display: flex;
	align-items: center;
}

.matchup-teams p,
.matchup-team-1,
.matchup-team-2 {
	width: 33%;
}

// the teamname
.matchup-team-name {}

// matchup team 1
.matchup-team-1 {
	flex-grow: 1;
}

// matchup team 2
.matchup-team-2 {
	flex-grow: 1;
}

// container for choosing matchup pick
.matchup-input {

	input {
		width: 60%;
		margin-bottom: 1em;
	}
}

// container for the matchup user picks
.matchup-user-picks {

	ul {}

}

// li for user pick
.matchup-user-pick {
	text-transform: capitalize;
}

// delete button
.matchup-delete-pick {}

// who picked the team
.matchup-user-name {
	font-weight: bold;
}

// who the user picked
.matchup-user-selection {}