<h1 class="page-title">Matchday 1</h1>

<div class="matchup">
	<div class="matchup-details">
		<small>08 Saturday 2015 | 07:45<br>Old Trafford</small>
	</div>
	<div class="matchup-teams">
		<div class="matchup-team-1">
			<img src="images/logos/manchester-united.png" class="matchup-team-logo">
			<h2 class="matchup-team-name">Manchester United</h2>
		</div>
		<p>vs.</p>
		<div class="matchup-team-2">
			<img src="images/logos/tottenham.png" class="matchup-team-logo">
			<h2 class="matchup-team-name">Tottenham Hotspur</h2>
		</div>
	</div>
	<div class="matchup-user-picks">
		<ul>
			<li ng-repeat="pick in picks | filter: {id: 0}" class="matchup-user-pick">
				<button class="matchup-delete-pick" ng-click="picks.remove(pick)" ng-show="$root.currentUser">&times;</button>
				<span class="matchup-user-name">{{pick.username}}</span>
				<span class="matchup-user-selection">{{pick.text}}</span>
			</li>
		</ul>
	</div>
</div>

<ul>

	<li>
		AFC Bournermouth vs. Aston Villa | 10:00
		<b ng-repeat="pick in picks | filter: {id: 1}" style="display: block;">
			<button class="delete" ng-click="picks.remove(pick)" ng-show="$root.currentUser">&times;</button>
			{{pick.username}}: {{pick.text}}
		</b>
	</li>

	<li>
		Norwich City vs. Crystal Palace | 10:00
		<b ng-repeat="pick in picks | filter: {id: 2}" style="display: block;">
			<button class="delete" ng-click="picks.remove(pick)" ng-show="$root.currentUser">&times;</button>
			{{pick.username}}: {{pick.text}}
		</b>
	</li>

	<li>
		Leicester City vs. Sunderland | 10:00
		<b ng-repeat="pick in picks | filter: {id: 3}" style="display: block;">
			<button class="delete" ng-click="picks.remove(pick)" ng-show="$root.currentUser">&times;</button>
			{{pick.username}}: {{pick.text}}
		</b>
	</li>

	<li>
		Everton vs. Watford | 10:00
		<b ng-repeat="pick in picks | filter: {id: 4}" style="display: block;">
			<button class="delete" ng-click="picks.remove(pick)" ng-show="$root.currentUser">&times;</button>
			{{pick.username}}: {{pick.text}}
		</b>
	</li>

	<li>
		Chelsea vs. Swansea City | 12:30
		<b ng-repeat="pick in picks | filter: {id: 5}" style="display: block;">
			<button class="delete" ng-click="picks.remove(pick)" ng-show="$root.currentUser">&times;</button>
			{{pick.username}}: {{pick.text}}
		</b>
	</li>
</ul>

<h3>Sunday</h3>

<ul>
	<li>
		Newcastle United vs. Southampton | 08:30
		<b ng-repeat="pick in picks | filter: {id: 6}" style="display: block;">
			<button class="delete" ng-click="picks.remove(pick)" ng-show="$root.currentUser">&times;</button>
			{{pick.username}}: {{pick.text}}
		</b>
	</li>

	<li>
		Arsenal vs. West Ham United | 08:30
		<b ng-repeat="pick in picks | filter: {id: 7}" style="display: block;">
			<button class="delete" ng-click="picks.remove(pick)" ng-show="$root.currentUser">&times;</button>
			{{pick.username}}: {{pick.text}}
		</b>
	</li>

	<li>
		Stoke City vs. Liverpool | 11:00
		<b ng-repeat="pick in picks | filter: {id: 8}" style="display: block;">
			<button class="delete" ng-click="picks.remove(pick)" ng-show="$root.currentUser">&times;</button>
			{{pick.username}}: {{pick.text}}
		</b>
	</li>
</ul>

<h3>Monday</h3>

<ul>
	<li>
		West Bromwich Albion vs. Manchester City | 15:00
		<b ng-repeat="pick in picks | filter: {id: 9}" style="display: block;">
			<button class="delete" ng-click="picks.remove(pick)" ng-show="$root.currentUser">&times;</button>
			{{pick.username}}: {{pick.text}}
		</b>
	</li>
</ul>