<h1>Matchday 3</h1>

<img src="images/logos/arsenal.png" class="team-logo">
<img src="images/logos/aston-villa.png" class="team-logo">
<img src="images/logos/bournermouth.png" class="team-logo">
<img src="images/logos/chelsea.png" class="team-logo">
<img src="images/logos/crystal-palace.png" class="team-logo">
<img src="images/logos/everton.png" class="team-logo">
<img src="images/logos/leicester-city.png" class="team-logo">
<img src="images/logos/liverpool.png" class="team-logo">
<img src="images/logos/manchester-city.png" class="team-logo">
<img src="images/logos/manchester-united.png" class="team-logo">
<img src="images/logos/newcastle-united.png" class="team-logo">
<img src="images/logos/norwich-city.png" class="team-logo">
<img src="images/logos/southampton.png" class="team-logo">
<img src="images/logos/stoke-city.png" class="team-logo">
<img src="images/logos/sunderland.png" class="team-logo">
<img src="images/logos/swansea-city.png" class="team-logo">
<img src="images/logos/tottenham.png" class="team-logo">
<img src="images/logos/watford.png" class="team-logo">
<img src="images/logos/west-brom.png" class="team-logo">
<img src="images/logos/west-ham.png" class="team-logo">